<!doctype html>
<html lang="en" dir="ltr">

<head>
    <title>ECOWAS-CEDEAO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

    <%= htmlWebpackPlugin.options.vendorScripts %>


        <!--
  Notice the use of %PUBLIC_URL% in the tag above.
  It will be replaced with the URL of the `public` folder during the build.
  Only files inside the `public` folder can be referenced from the HTML.

  Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
  work correctly both with client-side routing and a non-root public URL.
  Learn how to configure a non-root public URL by running `npm run build`.
    -->
</head>

<body>
    <div id="root"></div>
    <script>jQuery.migrateMute = true;</script>
</body>

</html>