body {
    background-color: #f4f6f8;
}

.AppBar{
    position: fixed !important;
    box-shadow: none !important;
    top:0;
    background: rgb(0, 121, 42) !important;
    /*max-height: 55px;*/
}

.language-dropdown > div > div{
    display: inherit !important;
    overflow: inherit !important;
    border-top: none !important;
    text-transform: uppercase !important;
    color: white !important;
}

.App-logo{
    max-width:40px;
}

.menu-btn{
    color: white !important;
}

.AppBar > h1 {
   font-size: 16px !important;
    line-height: 58px !important;
}
.iconElementRight{
    background: url("http://waho-portal.saudigitus.org/assets/img/logo.png");
}
.app-wrapper * {
    font-family: Roboto;
}

.dashboard-wrapper {
    background-color: #f4f6f8;
    padding-left: 10px;
    padding-right: 10px;
}

/* plugin TODO */

table.pivot * {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
